__pycache__/scraping_tools.cpython-38.pyc
tabla_de_picar_ML.xlsx
olla_de_presion_ML.xlsx
movies.csv
nutella_ML.xlsx
speed_test.xlsx
licuadora_de_vidrio_ML.xlsx
iphone_x_ML.xlsx
hornos_electricos_ML.xlsx
cre.txt
horno_electrico_ML.xlsx
barbijos_ML.xlsx
aceite_de_argan_ML.xlsx
mlScrapperErrorsLog.txt
